<div class="hero-background">
  <app-header></app-header>
  <div>
    <img class="strips" src="assets/img/strips.png">
  </div>
  <div class="container">

    <div class="hero row">
      <div class="hero-right col-sm-6 col-sm-6">
        <h1 class="header-headline bold">Next generation students</h1>
        <h4 class="header-running-text light"> A top notch premium quality template for your next
          web project.</h4>
        <a href="#">
          <button class="hero-btn"> Download FREE!</button>
        </a>
      </div>

      <div class="col-sm-6 col-sm-6 ipad">
        <img class="ipad-screen img-responsive" width="635" src="assets/img/hero.png"/>
      </div>

    </div>

  </div>

</div>


<div id="features" class="features-section">

  <div class="row justify-content-center align-items-center g-0">

    <h2 class="features-headline light">FEATURES</h2>

    <div class="col-sm-4 feature">

      <div class="feature-icon ">
        <img class="feature-img" src="assets/img/responsive.svg">
      </div>
      <h5 class="feature-head-text "> FULLY RESPONSIVE </h5>
      <p class="feature-subtext light "> Looks amazing on any
        device: smartphone, tablet, laptop and desktop.</p>
    </div>

    <div class="col-sm-4 feature">
      <div class="feature-icon feature-display-mid">
        <img class="feature-img" src="assets/img/customizable.svg">
      </div>
      <h5 class="feature-head-text feature-display-mid"> CUSTOMIZABLE </h5>
      <p class="feature-subtext light feature-display-mid"> Change the colors, pictures or any
        of the sections
        to suit your needs.</p>
    </div>

    <div class="col-sm-4 feature">
      <div class="feature-icon">
        <img class="bullet-img" src="assets/img/design.svg">
      </div>
      <h5 class="feature-head-text"> SLICK AND BEAUTIFUL DESIGN </h5>
      <p class="feature-subtext light"> Trendy and fresh design, fits any
        website.</p>
    </div>
  </div> <!--features-container-->
</div> <!--features-section-->

<div id="pricing" class="pricing-background">

  <h2 class="pricing-section-header light text-center">CHOOSE YOUR PRICING PLAN</h2>
  <h4 class=" pricing-section-sub text-center light">Pick any of our super affordable pricing plans</h4>

  <br>

  <div class="row g-0">
    <div class="col-sm-4">
      <div class="plan">
        <h3 class="plan-title light">BASIC</h3>
        <h4 class="plan-cost bold">15</h4>
        <h5 class="monthly">per month</h5>
        <ul class="plan-features">
          <li>Up to 7 Projects</li>
          <li>2 Additional Developers</li>
        </ul>
        <div class="plan-price-div text-center">
          <div class="choose-plan-div">
            <a class="plan-btn light" href="#">
              Get Started
            </a>
          </div>
        </div>
      </div><!--basic-plan--->
    </div><!--col-->

    <div class="col-sm-4">
      <div class="mid-plan">
        <h3 class="plan-title light">AGENCY</h3>
        <h4 class="plan-cost bold">55</h4>
        <h5 class="monthly">per month</h5>
        <ul class="plan-features">
          <li>Up to 25 Projects</li>
          <li>2 Additional Developers</li>
          <li>Unlimited Support</li>
        </ul>
        <div class="plan-price-div text-center">
          <div class="choose-plan-div">
            <a class="plan-btn light" href="#">
              Get Started
            </a>
          </div>
        </div>
      </div><!--pro-plan--->
    </div><!--col-->

    <div class="col-sm-4">
      <div class="plan">
        <h3 class="plan-title light">PRO</h3>
        <h4 class="plan-cost bold">75</h4>
        <h5 class="monthly">per month</h5>
        <ul class="plan-features">
          <li>Up to 25 Projects</li>
          <li>2 Additional Developers</li>
          <li>Unlimited Support</li>
          <li>1.5GB Disk Space</li>
        </ul>
        <div class="plan-price-div text-center">
          <div class="choose-plan-div">
            <a class="plan-btn light" href="#">
              Get Started
            </a>
          </div>
        </div>
      </div><!--pro-plan--->
    </div><!--col-->

  </div>  <!--pricing-table-->

</div><!--pricing-background-->

<!-- Team
  ================================================== -->

<div id="team" class="team">
  <h2 class="team-section-header light text-center">THE TEAM</h2>

  <div class="row g-0">


    <div class="col-sm-4 team-member">
      <img src="assets/img/yusuf.jpg" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">Front-end developer</h4>
        <h5 class="bold">Yusuf Yildiz</h5>
      </div>
    </div>

    <div class="col-sm-4 team-member">
      <img src="assets/img/kaan.jpg" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">Back-end developer</h4>
        <h5 class="bold">Kaan Secen</h5>
      </div>
    </div>

    <div class="col-sm-4 team-member">
      <img src="assets/img/bram.jpg" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">Devops </h4>
        <h5 class="bold">Bram Platier</h5>
      </div>
    </div>

    <div class="col-sm-4 team-member">
      <img src="assets/img/casper.png" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">Devops</h4>
        <h5 class="bold">Casper Smets</h5>
      </div>
    </div>

    <div class="col-sm-4 team-member">
      <img src="assets/img/tommie.jpg" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">Research expert</h4>
        <h5 class="bold">Tommie Ruhl</h5>
      </div>
    </div>

    <div class="col-sm-4 team-member">
      <img src="assets/img/senna.jpg" class="rounded-circle object-fit-cover" height="150" width="150">
      <div class="team-member-text">
        <h4 class="team-member-position light">embedded systems expert</h4>
        <h5 class="bold">Senna szlanina</h5>
      </div>
    </div>

  </div> <!--team-container--->

</div> <!--team-section--->

<!-- Email-Section
  ================================================== -->


<div class="footer">

  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>

      <div class="col-sm-8 webscope">
        <span class="webscope-text">Stuvatar &copy;</span>
      </div>

    </div>

  </div>
</div>
