<div class="d-flex flex-column gap-2">
  <img src="assets/img/{{character}}" class="position-relative z-1" width="1000">
<!--  <div class="row g-0">-->
<!--    <button class="btn btn-primary rounded-pill col-5 m-2">-->
<!--      <i class="fa-solid fa-person"></i> Stand still-->
<!--    </button>-->
<!--    <button class="btn btn-primary rounded-pill col-5 m-2">-->
<!--      <i class="fa-solid fa-person-walking"></i> Walk-->
<!--    </button>-->
<!--    <button class="btn btn-primary rounded-pill col-5 m-2">-->
<!--      <i class="fa-solid fa-person-running"></i> Run-->
<!--    </button>-->
<!--    <button class="btn btn-primary rounded-pill col-5 m-2">-->
<!--      <i class="fa-solid fa-arrow-up"></i> Jump-->
<!--    </button>-->
<!--    <button class="btn btn-primary rounded-pill col-5 m-2">-->
<!--      <i class="fa-solid fa-rotate"></i> Somersault-->
<!--    </button>-->
<!--  </div>-->

</div>
