<div class="m-2 d-flex flex-column gap-2" style="width: 300px;">
  <img src="{{characterImage}}" class="object-fit-contain rounded" height="300" width="300">
  <div class="d-flex justify-content-between align-items-center">
    <span class="fs-2">Price:</span>
    <div class="fs-2">
      <img src="assets/img/coin.gif" width="50" alt="">
      {{characterPrice}}
    </div>
  </div>
  <h3 class="text-center">{{characterTitle}}</h3>
  <button class="button" id="{{itemId}}" (click)="buyItem()">Buy</button>
</div>
