<div class="col-4 m-2 d-flex flex-column gap-2" style="width: 300px;" *ngIf="!used">
  <img src="{{image_url}}" class="object-fit-contain rounded" height="300" width="300" *ngIf="is_chest">
  <button class="btn btn-primary rounded-pill fs-1" data-bs-dismiss="modal" (click)="openChest($event)" id="{{item_id}}" *ngIf="is_chest" data-bs-dismiss="modal">Open</button>
  <img src="{{image_url}}" alt="" class="object-fit-contain rounded" height="300" width="300" *ngIf="!is_chest">
  <button class="btn btn-primary rounded-pill fs-1" id="{{item_id}}" (click)="wearItem($event)" data-bs-dismiss="modal" *ngIf="!is_chest">Wear</button>
</div>
