button{
    border-radius: 3.125rem;
    background: linear-gradient(0deg, #523BDC 13.04%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #8448C1 8.02%, rgba(124, 41, 207, 0.00) 64.13%);
  }

.sideBarBg{
    background: linear-gradient(
            #414149,
            #414149 10rem,
            #000 10rem,
            #000 10.5rem,
            #414149 10.5rem,
            #414149 26rem,
            #000 26rem,
            #000 26.5rem,
            #414149 26.5rem,
            #414149 37rem,
            #000 37rem,
            #000 37.5rem,
            #414149 37.5rem,
            #414149 50rem,
            #000 50rem,
            #000 50.5rem,
            #414149 50.5rem,
            #414149 63rem,
            #000 63rem,
            #000 63.5rem,

    );
    overflow: hidden;
    border-radius: 2em;
    margin-top: 1em;
    width: 80vw;
}
