<div class="d-flex flex-column m-2">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/img/coin.gif" width="175" height="175">
      <span class="text-white" style="font-size: 4rem" *ngIf="Student">{{Student.points}}</span>
    </div>
    <a href="#" class="btn d-flex align-items-center gap-2 p-2" style="font-size: 4rem" data-bs-toggle="modal" data-bs-target="#storeModal">
      Store
      <i class="fa-solid fa-store"></i>
    </a>
  </div>

  <button *ngIf="Student" class="btn btn-primary rounded-pill" style="font-size: 4rem" (click)="openMenu()">
    Welcome {{Student.first_name}} {{Student.last_name}}
    <i class="fa-solid fa-chevron-down" *ngIf="!status"></i>
    <i class="fa-solid fa-chevron-up" *ngIf="status"></i>
  </button>
  <div class="flex-column bg-primary p-2 rounded-4 text-center mt-2" style="gap: 8em" [ngClass]="status ? 'd-flex' : 'd-none'">
    <a href="#" class="text-white p-5" style="font-size: 4rem" data-bs-toggle="modal" data-bs-target="#inventoryModal">
      Inventory
    </a>
    <a href="idle" class="text-white p-5" style="font-size: 4rem">Lock screen</a>
    <a href="#" class="text-white p-5" style="font-size: 4rem">Settings</a>
    <a href="#" class="text-white p-5" style="font-size: 4rem">Logout</a>
  </div>
</div>
