button{
  border-radius: 3.125rem;
  background: linear-gradient(0deg, #523BDC 13.04%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #8448C1 8.02%, rgba(124, 41, 207, 0.00) 64.13%);
}

.background{
  background-color: black;
}

.sub-background{
  background-color: #414149;
}

.linear-gradient-background{
  background: linear-gradient(0deg, #523BDC 13.04%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #8448C1 8.02%, rgba(124, 41, 207, 0.00) 64.13%);;
}
.legendary-border{
  background:#414149;
  border: hsl(42, 100%, 54%) 0.2rem solid ;
  border-radius: 3rem;
}

.border{
  background: #414149;
  width: 20rem;
  border-radius: 1rem;
  margin-bottom: 1.0rem;
  margin-right: 0.2rem;
}

.bottom-bar{
  position: absolute;
  bottom: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
